{% extends 'dashboard/admin-index.html' %}
{% load static %}
{% block content %}
<div class="col-md-12">
    <div class="card">
        <div class="card-header">
            <h4 class="card-title">Category Table</h4>
            <div class="text-right">
                <a href="{% url 'ctg_add' %}"><button class="btn text-success btn-fill btn-wd">Add Category</button></a>
            </div>
            <p class="category">Here is a subtitle for this table</p>
        </div>
        <div class="card-content table-responsive table-full-width">
            <table class="table">
                <thead>
                    <tr>
                        <th class="text-center">#</th>
                        <th>Name</th>

                        <th class="text-right">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for i in ctg %}
                    <tr>
                        <td class="text-center">{{ forloop.counter }}</td>
                        <td>{{ i.name }}</td>
                        <td class="td-actions text-right">
                            <a href="{% url 'ctg_detail' pk=i.id %}" rel="tooltip" title="View Profile" class="btn btn-info btn-simple btn-xs">
                                <i class="ti-user"></i>
                            </a>
                            <a href="{% url 'ctg_edit' pk=i.id %}" rel="tooltip" title="Edit Profile" class="btn btn-success btn-simple btn-xs">
                                <i class="ti-pencil-alt"></i>
                            </a>
                            <a href="{% url 'ctg_delete' delete=i.id %}" rel="tooltip" title="Remove" class="btn btn-danger btn-simple btn-xs">
                                <i class="ti-close"></i>
                            </a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

{% endblock %}